/* 
==========================================
General Styling
==========================================
*/

body {
  font-family: 'Lato', sans-serif;
}

/* 
==========================================
Navbar: Logo
==========================================
*/

nav .brand-logo {
  position: absolute;
  width: 112px;
  height: 179px;
  left: 40px;
  top: 0px;
}

nav ul a span.about-nav {
  position: right;
}

/* 
==========================================
Navbar: Large Device
==========================================
*/

nav ul.left {
  float: left;
  padding-left: 130px;
}

nav ul a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

nav ul li:hover {
  background-color: #424242;
}

/* 
==========================================
Navbar: Small Device
==========================================
*/

.sidenav {
  padding-top: 3rem;
}

.sidenav li>a {
  color: white;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.sidenav li:hover {
  background-color: #424242;
}

nav .brand-logo {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}