/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
  /* creates sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  /* fixes the logo top gap and space around footer */
  margin: 0;
}
a {
  color:inherit;
	text-decoration: none;
}
.button {
  /* button shape */
  width: 90px;
  height: 38px;
  background: rgba(0, 0, 0, 0.5);
  /* text */
  font-family: Lato;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.6;
  padding-top: 10px;
}
h1.heading {
  margin-bottom: 0px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
p.subtitle {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px
}
h3.media-title {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  text-transform: uppercase;
}
p.media-details {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #666666;
}
p.video-time {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  color: #000000;
}

/* menu bar */
nav ul {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  margin: 0;
  flex-wrap: wrap;
}
nav li {
  margin: 0 10px;
  list-style: none
}
li a {
  text-align: center;
	display: block;
	padding: 30px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  opacity: 0.6;
  color: #FFFFFF;
  cursor: pointer;
}
.active, .menu-item:hover {
  border-top: 2px solid #FFFFFF;
}
.push-right {
  margin-left: auto;
}
.push-left {
  margin-right: auto;
}


/* ================================= 
  Media Queries
==================================== */

/* --------- Small Screens --------- */
@media (min-width: 320px) and (max-width: 600px) {

    /* ------------ Base ------------ */
    h1.heading {
      padding: 0px 10px 0px 10px;
      font-size: 50px;
    }
    p.subtitle {
      padding: 0px 20px 0px 20px;
      font-size: 16px;
    }

  /* -------- Main Header  -------- */
  .main-header {
    display: flex;
  }
  .main-header {
    flex-direction: column;
    align-items: center;
  }

  /* --------- Media Card --------- */ 
  .media-card {
    display: flex;
    color: #000000;
    margin: 5px;	
    background: #ffffff;
  }
  .item {
    flex: 1 500px;;
  }
  .video-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .media-content {
    padding: 40px;
  }

}

/* --------- Medium Screens --------- */
@media (min-width: 769px) {

  /* -------- Main Content -------- */  
  .main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  .media-card {
    flex: 1 500px;
  }

  /* ---------- Menu Bar ---------- */  


}

/* --------- Larger Screens --------- */
@media (min-width: 1025px) {


}