/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
  background:     
    linear-gradient(
      /* hexadecimal color #333333 has RGB values of R:51, G:51, B:51 */
      /* rgba(51, 51, 51, 0.5),
      rgba(51, 51, 51, 0.5) */
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../images/girlonbike.png');
  background-size: cover;
}
.map-container {
  flex: 1;
}
#us-map{
  display: block;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  padding-right: 100px;
  padding-left: 150px;
  padding-bottom: 50px;
}
path:hover, circle:hover {
  stroke: #145b86 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #145b86 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #4498cb;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

/* ================================= 
  Media Queries
==================================== */

/* --------- Small Screens --------- */
@media (min-width: 320px) {

  /* -------- Map Container -------- */  
  .map-container {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  /* .map-image-us {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }*/

}

/* --------- Medium Screens --------- */
@media (min-width: 769px) {

  /* -------- Map Container -------- */  
  .map-container {  
    display: flex;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }

}

/* --------- Larger Screens --------- */
@media (min-width: 1025px) {


}